<nav id="menu">
    <ul>
        <li>
            <a href="#" class="menu-item-toggle">Quiénes somos</a>
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Líneas de investigación</a></li>
                <li><a href="#">Equipo de trabajo</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item-toggle">Lineas de Investigación</a>
            <ul>
                <li><a href="#">Línea  de investigación clásica: Percepciones en Bogotá</a></li>
                <li><a href="#">Línea Etnografía digital: Contenido en las redes sociales</a></li>
                <li><a href="#">Línea de revisión de alcance: literatura científica</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item-toggle">Mapas y Datos</a>
            <ul>
                <li><a href="#">Línea  de investigación clásica: Percepciones en Bogotá</a></li>
                <li><a href="#">Línea Etnografía digital: Contenido en las redes sociales</a></li>
                <li><a href="#">Línea de revisión de alcance: literatura científica</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item-toggle">Biblioteca</a>
            <ul>
                <li><a href="#">Cajas de herramientas</a></li>
                <li><a href="#">Cartillas</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item-toggle">Publicaciones</a>
            <ul>
                <li><a href="#">Documentos de trabajo</a></li>
                <li><a href="#">Informes</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item-toggle">Contactenos</a>
            <ul>
                <li><a href="#">Escribanos</a></li>
            </ul>
        </li>
    </ul>
</nav>